<div class= "container-fluid">
 <div class="row">
   <% if @parsed_quotes.empty? %>
    <a href="https://www.youtube.com/watch?v=kE03lYoVpFg" target="_blank"><h1 style="color:yellow"><strong><%= "These are not the quotes you are looking for..."%></h1></strong></a>
    <% end %>
    <% @parsed_quotes.each_with_index do |quotes, index| %>
      <div class="col-md-6">
        <div class="whitebox">
          <div class= "p2">
            <h1> <%= "Package #{index+1}" %>  </h1>
            <%= render partial: "partials/quote", object: quotes %>
           </div>
        </div>
      </div>
    <%end%>
  </div>
</div>
