<div class="center">
  


<% @roundtripflight.each do |bigflightarray| %>
  <% bigflightarray.each do |flightarray| %> 
    <% flightarray.each do |flight| %> 
      <li><%= "Flight Number: #{flight.flight_number}" %></li> 
      <li><%= "Departure Date: #{flight.departure_date}" %></li> 
      <li><%= "Arrival Date: #{flight.arrival_date}" %></li> <br>
    <% end %> 
  <% end %>
<% end %>

</div> 

