@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.whitebox{
  opacity: 0.8; 
  background-color: #EFEADE;
  border-radius: 15px;
  margin-bottom: 2em;
}

.whitebox h1 {
  
  color: black;
}

body > div > div > form > div > div > div > input[type="submit"]:nth-child(11){
  width: 25%;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  padding-top: 1em;
  line-height: 1;
}

body > header > div > nav > ul > p > i {
  color: white;
  font-size: .8em;

}



h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: white;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: white;
}

h3 {
  color: white;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  font-weight: bold;
}

.p1 {
  line-height: normal;
  font-size: .7em;
  margin-left: 5.0em;
  color: black;
  padding-bottom: 25px;
  padding-top: 10px;
}

body > div > div > form > div > div > div > div {
  padding-left: 5.5em;
}

body > div > div > form > div > div > div > input[type="submit"]:nth-child(6) {
  width: 75%;
    margin-left: 5em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: black;
  text-decoration: none;
}

/* forms */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  border-radius: 10px;
  @include box_sizing;
}

label {
  color: white;
}

img {
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 22px;

}