<!DOCTYPE html>
<html>
  <head>
    <title>FlatironProject1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
    <div class="center">
      <p><a href="/">Home</a>
      <a href="/users/new">Sign Up</a>
      <a href="/signin">Sign In</a>
      <a href="/new_trip">Book A Trip</a></p>
    </div>


    <%= yield %>
    </div>
  </body>
</html>
