<!DOCTYPE html>
<html>
  <head>
    <title>FlatironProject1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="/">Home</a></li>
      <li role="presentation"><a href="/users/new">Sign Up</a></li>
      <li role="presentation"><a href="/login">Sign In</a></li>
      <li role="presentation"><a href="/new_trip">Book A Trip</a></li>
    </ul>


    <%= yield %>
    </div>
  </body>
</html>
