!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FlatironPresentsExample
  %body
    #profile
      .email
      .bio
      %p.para The meaning of life is 42!
      %img{:alt => "the_pic", :height => "42", :src => "app/assets/images/pic.jpg", :width => "42"}/
